# =========================
# Java & Maven (后端)
# =========================
target/
*.class
*.jar
*.war

# =========================
# Vue & Node (前端)
# =========================
node_modules/
npm-debug.log
yarn-error.log
dist/
.DS_Store

# =========================
# IDE (编辑器配置)
# =========================
.idea/
.vscode/
*.iml
*.ipr
*.iws

